<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - ASP Inventory System</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>

    @{ Html.RenderPartial("frontend/navbar"); }

    @RenderBody()

    @{ Html.RenderPartial("frontend/footer"); }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
