@{
    ViewBag.Title = "ReportPDF";
    Layout = "~/Views/Shared/_Backend.cshtml";
}
<h1>QuestPDF Reprot</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos veritatis recusandae quis! Ex sapiente suscipit eos quas facere eligendi, fugiat hic natus, fugit minus voluptates enim sint sed, magni accusantium!</p>